* {
  border: none;
  background-color: transparent;
  font-family: 'FiraCode Nerd Font Retina';
}

#window {
  background-color: #555555;
  border: 1px solid #aacc55;
  border-radius: 15px;
  font-size: 20px;
}

/* #outer-box { */
/*   background-color: transparent; */
/*   border: 2px solid orange; */
/*   border-radius: 15px; */
/* } */

#input {
  margin: 5px;
  margin-top: 10px;
  background-color: #333333;
  border-radius: 10px;
  color: #eeeeee;
  padding: 15px;
  border: 2px solid #ddaa55;
  font-size: 25px;
}

#scroll {
  /* border: 2px solid black; */
  border-radius: 10px;
  margin: 5px;
}

#entry {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 0;
}

#unselected {
  padding: 20px 10px;
  color: #eeeeee;
  background-color: #555555;
}

#selected {
  padding: 20px 10px;
  background-color: #222222;
  color: #000000;
  font-weight: bold;
}
