* {
    font-family: "FiraCode Nerd Font";
    border: none;
    margin: 0;
    padding: 0;
}

window,
.modules-center {
    margin: 0 5px;
}

/* window .modules-right, */
/* window .modules-left { */
/*   border: none; */
/*   /1* background: rgba(180, 180, 180, 1); *1/ */
/*   background: #f7b267; */
/*   border-radius: 5px; */
/* } */

window#waybar {
    background: transparent;
    background: rgba(0, 0, 0, 0.4);
    /* border: 1px solid #fe8019; */
    /* border-radius: 10px; */
}

#window {
    /* border: 1px solid #458588; */
    border-radius: 5px;
    margin: 0 5px;
    /* background: #f7b267; */
    /* background-color: transparent; */
    color: white;
    /* color: rgba(0, 0, 0, 1); */
    font-weight: bold;
}

#workspaces {
    background: #5e548e;
    border-radius: 5px;
}

#workspaces button {
    margin: 0 2px;
    background: transparent;
    border: 1px dashed;
    color: #aaaaaa;
    border-radius: 5px;
}

/* #workspaces button:first-child { */
/*   margin-left: 0; */
/* } */

/* #workspaces button:last-child { */
/*   margin-right: 0; */
/* } */

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    border: 1px solid;
}

#workspaces button.focused {
    color: orange;
    border: 1px solid orange;
    /* margin: 1px 0; */
}

#mode {
    background: #e76f51;
    border-radius: 5px;
    color: black;
    /* color: #e63946; */
}

#clock,
#battery,
#cpu,
#memory,
#network,
#temperature,
#backlight,
#custom-spotify,
#wireplumber {
    border-radius: 5px;
    color: rgba(0, 0, 0, 1);
    /* border: 1px solid; */
}

#backlight {
    background-color: #edc531;
}

#clock,
#temperature {
    background-color: #ddb892;
}

#battery.critical,
#network.disabled,
#cpu.critical,
#memory.critical {
    background-color: #9d0208;
    color: #dddddd;
}
#battery.warning,
#network.disconnected,
#network.linked,
#cpu.warning,
#memory.warning {
    background-color: #f6ae2d;
}

#battery.okay,
#battery.good,
#battery.excellent,
#battery.full,
#cup.high,
#cpu.moderate,
#cpu.medium,
#cpu.low,
#memory.high,
#memory.moderate,
#memory.medium,
#memory.low {
    background-color: #60d394;
}

#network.wifi,
#network.ethernet {
    background-color: #86bbd8;
    color: #000000;
}

.playing {
    background-color: #60d394;
}
.paused,
.muted {
    background-color: #a5a5a5;
}

#bluetooth {
    background-color: #5e548e;
    border-radius: 5px;
    color: #ffffff;
}

#wireplumber {
    background-color: #5e548e;
    color: #ffffff;
}

#wireplumber.muted {
    background-color: #fc9e4f;
    color: #000000;
}

/* #wireplumber.bluetooth { */
/* } */

#tray {
    background: #5e548e;
    border-radius: 5px;
}

/* #battery.discharging { */
/* } */

/* #battery.charging { */
/* } */

/* #battery.plugged { */
/* } */
