* {
    font-family: "FiraCode Nerd Font";
    border: none;
    margin: 0;
    padding: 0;
    color: white;
}

window {
    background: rgba(80, 80, 80, 0.9);
}

.modules-center {
    margin: 0 5px;
}

/* window#waybar { */
/* } */

/* window .modules-right, */
/* window .modules-left { */
/* } */

#window {
    font-weight: bold;
}

#workspaces {
    border-radius: 5px;
}

#workspaces button {
    margin: 0 2px;
    border: 1px solid;
    color: #aaaaaa;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: transparent;
    border-color: #40a578;
}

#workspaces button.focused {
    background-color: #40a578;
}

#workspaces button.urgent {
    background-color: #f6ae2d;
}

#mode {
    border: 1px solid #e07a5f;
    border-radius: 5px;
    color: #e07a5f;
    font-weight: bold;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#temperature,
#backlight,
#custom-spotify,
#wireplumber,
#bluetooth,
#window,
#tray {
    border-bottom: 3px solid;
    margin: 0 2px;
}

#backlight {
    color: #fff455;
}

#temperature {
    color: #d4bee4;
}

#battery.critical,
#network.disabled,
#cpu.critical,
#memory.critical,
#temperature.critical {
    color: #f95454;
}

#battery.warning,
#network.disconnected,
#network.linked,
#cpu.warning,
#memory.warning {
    color: #f6ae2d;
}

#battery.okay,
#battery.good,
#battery.excellent,
#battery.full,
#cup.high,
#cpu.moderate,
#cpu.medium,
#cpu.low,
#memory.high,
#memory.moderate,
#memory.medium,
#memory.low {
    color: #60d394;
}

#network.wifi,
#network.ethernet {
    color: #7bc9ff;
}

#network.disabled,
#network.disconnected,
#bluetooth.disabled {
    color: #f95454;
}

#bluetooth.connected {
    color: #7bc9ff;
}

#bluetooth.on {
    color: #48a6a7;
}

#bluetooth.off {
    color: #f95454;
}

#wireplumber {
    color: #e1afd1;
}

#wireplumber.muted {
    color: #f95454;
}

#tray {
    color: #95d2b3;
}

/* #battery.discharging { */
/* } */

/* #battery.charging { */
/* } */

/* #battery.plugged { */
/* } */

.playing {
    color: #60d394;
}

.paused,
.muted {
    color: #a5a5a5;
}
